<html lang="en">
    <%- include('../partials/head') %>
    <body>
      <main>
        <% if (locals.user) {%>
          <a href="messages/new-message">Create New Message</a>
          <a href="/change-role">Become Member</a>
          <a href="/logout">Logout</a>
        <% } %>
        
        <% if (!locals.user) {%>
          <p>Sign up to create new messages and become a member</p>
          <a href="/sign-up">Sign Up</a>
          <a href="/login">Login</a>
        <% } %>
        <% if (messages && messages.length > 0) { %>
          <h1>Messages</h1>
          <section>
            <% messages.forEach(message => { %>
              <article class="message-div">
                <% if (!locals.user) { %>
                  <p class="message name">Anonymous</p>
                  <p class="message title"><%= message.title %></p>
                  <p class="message text"><%= message.text %></p>
                <% } else if (locals.user.user_role === 'member' || locals.user.user_role === 'admin') { %>
                  <p class="message name"><%= message.first_name %></p>
                  <p class="message date">
                    <%= message.timestamp.toLocaleDateString('en-US', {
                    weekday: 'short',
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                    }) %>
                    <%= message.timestamp.toLocaleTimeString() %>
                  </p>
                  <p class="message title"><%= message.title %></p>
                  <p class="message text"><%= message.text %></p>
                  <% if (locals.user.user_role === 'admin') { %>
                    <form action="messages/delete/<%= message.message_id %>" method="POST">
                      <button type="submit">Delete</button>
                    </form>
                  <% } %>
                <% } %>
              </article>
              <% }) %>
            </section>
        
        <% } else { %>
          <h1>No Messages</h1>
        <% } %>
      </main>
      <%- include('../partials/footer') %>
    </body>
</html>