<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Messages</title>
</head>
<body>
    <h1>Messages here</h1>
    <% messages.forEach(message => { %>
      <article class="message-div">
        <p>
          <% if (locals.user.is_member) { %>
            <%= message.first_name %>
            <%= message.timestamp %>
          <% } else { %>
            Anonymous
          <% } %> 
        </p>
        <p><%= message.title %></p>
        <p><%= message.text %></p>
        <p><%= message.is_member %></p>
      </article>
    <% }) %>
    <% if (locals.user) {%>
      <a href="messages/new-message">Create New Message</a>
    <% } %>
    <a href="/become-member">Become Member</a>
    <a href="/logout">Logout</a>
</body>
</html>